[submodule "sample/LYRON-C-Backend"]
	path = sample/LYRON-C-Backend
	url = https://gitee.com/llyronx/LYRON-C-Backend
[submodule "sample/LYRON-Yu-Backend"]
	path = sample/LYRON-Yu-Backend
	url = https://gitee.com/llyronx/LYRON-Yu-Backend
